.badge {
  line-height: 1.2rem;
  font-size: .7rem;
  padding: 0 10px;
}

.badge.green {
  background-color: rgba(1, 88, 255, .1);
  color: rgb(1, 88, 255);
}

.badge.red {
  background-color: rgba(253, 80, 128, .1);
  color: rgb(253, 80, 128);
}

.badge.yellow {
  background-color: rgba(239, 193, 30, .1);
  color: rgb(239, 193, 30);
}

.table .table__head thead {
  background: #f4f4f8 !important;
}

.table td, .table th {
  padding: .8rem .4rem !important;
  line-height: 1.5 !important;
}

.table.table--stripe .table__body tr:nth-child(odd) {
  background-color: #ffffff !important;
}

.table.table--stripe .table__body tr:nth-child(even) {
  background-color: rgba(244, 244, 248, .5) !important;
}

.table tr {
  border-bottom-color: transparent !important;
  color: #313c56 !important;
}
